In [23]:
# Load CSVs
import pandas as pd
train_df = pd.read_csv("../data/train.csv")
test_df = pd.read_csv("../data/test.csv")
train_df.shape , test_df.shape

((550068, 12), (233599, 11))

In [25]:
# Combine Train and Test 
df_raw= pd.concat([train_df , test_df], axis=0, ignore_index=True)
df_raw.shape

(783667, 12)

In [26]:
# check
df_raw.head()
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 783667 entries, 0 to 783666
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     783667 non-null  int64
 1   Product_ID                  783667 non-null  object
 2   Gender                      783667 non-null  object
 3   Age                         783667 non-null  object
 4   Occupation                  783667 non-null  int64
 5   City_Category               783667 non-null  object
 6   Stay_In_Current_City_Years  783667 non-null  object
 7   Marital_Status              783667 non-null  int64
 8   Product_Category_1          783667 non-null  int64
 9   Product_Category_2          537685 non-null  float64
 10  Product_Category_3          237858 non-null  float64
 11  Purchase                    550068 non-null  float64
dtypes: float64(3), int64(4), object(5)
memory usage: 71.7+ MB

Connect to  MySQL

In [16]:
import mysql.connector
conn  = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "newpassword123",
    db = "black_friday_db"
)
cursor = conn.cursor()

In [27]:
# create engine using mysql-connector
from sqlalchemy import create_engine
engine = create_engine(
    "mysql+mysqlconnector://root:newpassword123@localhost/black_friday_db"
)


# Push Raw Data in to SQL
df_raw.to_sql(name = "black_friday_raw", con=engine, if_exists = "replace",index = False)

783667