Load RAW Data from MySQL

In [1]:
import pandas as pd
import mysql.connector
import seaborn as sns
import matplotlib.pyplot as plt

conn = mysql.connector.connect(
    host = "localhost",
    user ="root",
    password = "newpassword123",
    db = "black_friday_db"
)
df  = pd.read_sql("SELECT * FROM black_friday_raw", conn)
df.head

C:\Users\Admin\AppData\Local\Temp\ipykernel_2684\786306089.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df  = pd.read_sql("SELECT * FROM black_friday_raw", conn)

<bound method NDFrame.head of         User_ID Product_ID Gender    Age  Occupation City_Category  \
0       1000001  P00069042      F   0-17          10             A
1       1000001  P00248942      F   0-17          10             A
2       1000001  P00087842      F   0-17          10             A
3       1000001  P00085442      F   0-17          10             A
4       1000002  P00285442      M    55+          16             C
...         ...        ...    ...    ...         ...           ...
783662  1006036  P00118942      F  26-35          15             B
783663  1006036  P00254642      F  26-35          15             B
783664  1006036  P00031842      F  26-35          15             B
783665  1006037  P00124742      F  46-50           1             C
783666  1006039  P00316642      F  46-50           0             B

       Stay_In_Current_City_Years  Marital_Status  Product_Category_1  \
0                               2               0                   3
1                               2               0                   1
2                               2               0                  12
3                               2               0                  12
4                              4+               0                   8
...                           ...             ...                 ...
783662                         4+               1                   8
783663                         4+               1                   5
783664                         4+               1                   1
783665                         4+               0                  10
783666                         4+               1                   4

        Product_Category_2  Product_Category_3  Purchase
0                      NaN                 NaN    8370.0
1                      6.0                14.0   15200.0
2                      NaN                 NaN    1422.0
3                     14.0                 NaN    1057.0
4                      NaN                 NaN    7969.0
...                    ...                 ...       ...
783662                 NaN                 NaN       NaN
783663                 8.0                 NaN       NaN
783664                 5.0                12.0       NaN
783665                16.0                 NaN       NaN
783666                 5.0                 NaN       NaN

[783667 rows x 12 columns]>

Handling Missing Values

In [ ]:
# Product Categories
df["Product_Category_2"].fillna(0,inplace = True)
df["Product_Category_3"].fillna(0,inplace = True)

# missing = product doesnot belong to category
# acts as a valid place holder

C:\Users\Admin\AppData\Local\Temp\ipykernel_2684\3134619219.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Product_Category_2"].fillna(0,inplace = True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_2684\3134619219.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Product_Category_3"].fillna(0,inplace = True)

Encode Categorical variables

In [7]:
df["Gender"]= df["Gender"].map({"M":1, "F":0})

Age (Ordinal Encoding)

In [8]:
age_map = {
    "0-17":0,
    "18-25":1,
    "26-35":2,
    "36-45":3,
    "46-50":4,
    "51-55":5,
    "55+":6
}
df["Age"] = df["Age"].map(age_map)

City Category

In [9]:
df["City_Catergory"] = df["City_Category"].map({"A":0,"B":1,"C":2})

Stay in Current City

In [10]:
df["Stay_In_Current_City_Years"] = df["Stay_In_Current_City_Years"].replace("4+",4).astype(int)

Drop Unnecessary Columns

In [11]:
df.drop(["User_ID","Product_ID"],axis=1, inplace = True)

Feature  Target Split

In [12]:
x = df.drop("Purchase",axis=1)
y = df["Purchase"]